/Initium-Odp/war/WEB-INF/classes
/Initium-Odp/.settings
/Initium-Odp/war/WEB-INF/lib/jsr107cache-1.1.jar
/Initium-Odp/war/WEB-INF/lib/appengine-api-1.0-sdk-1.9.36.jar
/Initium-Odp/war/WEB-INF/lib/appengine-api-labs.jar
/Initium-Odp/war/WEB-INF/lib/appengine-endpoints.jar
/Initium-Odp/war/WEB-INF/lib/appengine-endpoints-deps.jar
/Initium-Odp/war/WEB-INF/lib/appengine-jsr107cache-1.9.36.jar
*.iml
*.eml
.idea/
.gradle/
/CachedDatastore/
/GameElementsFramework/
/GEFCommon/
/initium-core/
/RandomGenerators/
/RestClient/
/java-webapp-lite/
/.classpath
/.project
build/
RemoteSystemsTempFiles/
/.settings
/bin/
/Initium-Odp/Initium-ODP/src/META-INF/jdoconfig.xml
/Initium-Odp/Initium-ODP/src/META-INF/persistence.xml
/Initium-Odp/Initium-ODP/src/log4j.properties
/Initium-Odp/Initium-ODP/war/WEB-INF/appengine-web.xml
/Initium-Odp/Initium-ODP/war/WEB-INF/classes/META-INF/jdoconfig.xml
/Initium-Odp/Initium-ODP/war/WEB-INF/classes/META-INF/persistence.xml
/Initium-Odp/Initium-ODP/war/WEB-INF/classes/log4j.properties
/Initium-Odp/Initium-ODP/war/WEB-INF/lib/appengine-api-1.0-sdk-1.9.36.jar
/Initium-Odp/Initium-ODP/war/WEB-INF/lib/appengine-api-labs.jar
/Initium-Odp/Initium-ODP/war/WEB-INF/lib/appengine-endpoints-deps.jar
/Initium-Odp/Initium-ODP/war/WEB-INF/lib/appengine-endpoints.jar
/Initium-Odp/Initium-ODP/war/WEB-INF/lib/appengine-jsr107cache-1.9.36.jar
/Initium-Odp/Initium-ODP/war/WEB-INF/lib/asm-5.0.4.jar
/Initium-Odp/Initium-ODP/war/WEB-INF/lib/datanucleus-api-jdo-3.1.3.jar
/Initium-Odp/Initium-ODP/war/WEB-INF/lib/datanucleus-api-jpa-3.1.3.jar
/Initium-Odp/Initium-ODP/war/WEB-INF/lib/datanucleus-appengine-2.1.2.jar
/Initium-Odp/Initium-ODP/war/WEB-INF/lib/datanucleus-core-3.1.3.jar
/Initium-Odp/Initium-ODP/war/WEB-INF/lib/geronimo-jpa_2.0_spec-1.0.jar
/Initium-Odp/Initium-ODP/war/WEB-INF/lib/jdo-api-3.0.1.jar
/Initium-Odp/Initium-ODP/war/WEB-INF/lib/jsr107cache-1.1.jar
/Initium-Odp/Initium-ODP/war/WEB-INF/lib/jta-1.1.jar
/Initium-Odp/Initium-ODP/war/WEB-INF/logging.properties
/Initium-Odp/Initium-ODP/war/WEB-INF/web.xml
/Initium-Odp/war/WEB-INF/lib/asm-5.0.4.jar
/Initium-Odp/war/WEB-INF/lib/datanucleus-api-jdo-3.1.3.jar
/Initium-Odp/war/WEB-INF/lib/datanucleus-api-jpa-3.1.3.jar
/Initium-Odp/war/WEB-INF/lib/datanucleus-appengine-1.0.10.final.jar
/Initium-Odp/war/WEB-INF/lib/datanucleus-appengine-2.1.2.jar
/Initium-Odp/war/WEB-INF/lib/datanucleus-core-1.1.5.jar
/Initium-Odp/war/WEB-INF/lib/datanucleus-core-3.1.3.jar
/Initium-Odp/war/WEB-INF/lib/datanucleus-jpa-1.1.5.jar
/Initium-Odp/war/WEB-INF/lib/geronimo-jpa_2.0_spec-1.0.jar
/Initium-Odp/war/WEB-INF/lib/jdo-api-3.0.1.jar
/Initium-Odp/war/WEB-INF/lib/jta-1.1.jar
