#buttonbar-main
{
	padding-top:5px;
}	
.major-banner-links
{
	margin-left:-98px;
}

.minimap-container
{
	top:-18px!important;
	right:-18px!important;
}

.global-navigation-map
{
	border-style: solid;
    border-width: 72px 91px 90px 99px;
    -moz-border-image: url(https://initium-resources.appspot.com/images/ui3/window2-border.jpg) 72 91 90 99 round repeat;
    -webkit-border-image: url(https://initium-resources.appspot.com/images/ui3/window2-border.jpg) 72 91 90 99 round repeat;
    -o-border-image: url(https://initium-resources.appspot.com/images/ui3/window2-border.jpg) 72 91 90 99 round repeat;
    border-image: url(https://initium-resources.appspot.com/images/ui3/window2-border.jpg) 72 91 90 99 fill round repeat;

	position:absolute;
	bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: -13px;

}

body[bannerstate='globe-navigation'] .global-navigation-map
{
	display:block;
}

body[bannerstate='combat'] .major-banner-links
{
	display:none;
}















































@media (min-width:1200px)
{

	.page-popup
	{
    position: fixed;
    z-index: 2;
    bottom: 0px;
    top: 0px;
    left: 50%;
    right: -29px;
    margin: 0px;
	}
	
	.page-popup-title
	{
		position:absolute;
	    text-align: center;
	    top: -32px;
	    width: 100%;
	    margin: 0 auto;
	    left: 0px;	
	}
	
	.page-popup-title h4
	{
		top:0px;
	}
	
	.page-popup-content
	{
		overflow-y:auto;
		height:100%;
	}
	
	#page-popup-root
	{
		z-index:10000000;
	}
	
	.main-page-half
	{
	    margin: 0px!important;
	    position: relative!important;
	    width: 50%!important;
	}

}

@media (max-width:720px)
{
	.major-banner-links
	{
		margin-left:-56px;
	}
	
	.global-navigation-map
	{	
		zoom:0.7;
	}
}

@media (max-width:480px)
{
	#buttonbar-main
	{
		padding-top:3px;
	}
}

@media (max-width:400px)
{
	.minimap-container
	{
    	transform: scale(0.4);
    }

	.global-navigation-map
	{	
		zoom:0.6;
	}
}

