<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>SandboxServlet</servlet-name>
		<servlet-class>com.universeprojects.miniup.server.SandboxServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SandboxServlet</servlet-name>
		<url-pattern>/SandboxServlet/*</url-pattern>
	</servlet-mapping>
	
	<!-- Page controller servlet (locates controllers for various pages) -->
	<filter>
 	 <filter-name>PageControllerFilter</filter-name>
 	 <filter-class>com.universeprojects.web.PageControllerFilter</filter-class>
  	<init-param>
    	<param-name>uriPrefix</param-name>
    	<param-value>/odp/</param-value>
  	</init-param>
  	<init-param>
    	<param-name>baseScanPackage</param-name>
    	<param-value>com.universeprojects.miniup.server.controllers</param-value>
  	</init-param>
	</filter>
	<filter-mapping>
  		<filter-name>PageControllerFilter</filter-name>
  		<url-pattern>/odp/*</url-pattern>
	</filter-mapping>
	
	
	
	
</web-app>